@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

html {
  scroll-behavior: smooth;
}

b {
  font-weight: 600;
}

hr {
  @apply my-20 w-[80px] mx-auto border-accent border-t-2 opacity-75;
}

@layer components {
  .list-item-large {
    @apply relative flex justify-between items-center;

    &:before {
      content: '';
      position: absolute;
      background-color: theme('colors.accent');
      width: 100%;
      height: 1px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0.6;
    }

    span, h3 {
      background-color: theme('colors.white');
      z-index: 1;
      padding: 0 10px;
      margin-left: -10px;
    }
  }
}